<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- including html file -->
    <%- include('common/header') %> 
   
    welcome name: <%= user.name  %>
    <h2><%= user.email  %></h2>

    <h1>skills</h1>
    <ul>
        <%user.skills.forEach((val)=>{%>
            <li><%=val%></li>

        <%})%>
    </ul>
    <%- include('common/footer') %>
    <!-- In summary, <%= %> is used to output values into the HTML, while <% %> is used for embedding JavaScript code that doesn't produce output directly into the HTML. -->
</body>
</html>