<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> #{title} </title>
        //- link(rel='stylesheet', href='./style.css') //not working
        style 
            include ./style.css

    style 
</head>
<body>
 <div class="nav">
        <ul>
            <li>home</li>
            <li>about</li>
            <li>contact</li>
        </ul>
 </div>
<!-- <h1>#{user.name}</h1> -->
<p>name:#{user.name}</p>
<p>email:#{user.email}</p>
<p>
    ul
      each val in user.skills 
        li= val
</p>
   
</body>
</html>